body {
    text-align: center;
    background: linear-gradient(45deg, rgb(255, 34, 222), rgb(49, 255, 30));
    
}

#mainForm {
    padding-top: 20px;
    height: 100vh;
    float: left;
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}

#Minecraft {
    border-color: rgb(255, 34, 222);
}

#Shitvideo {
    border-color: rgb(49, 255, 30);
    width: 500px;
    text-align: left;
}

#Music {
    border-color: rgb(255, 34, 222);
    width: 500px;
    text-align: left;
}


#MSG {
    border-color: rgb(255, 34, 222);
    width: 500px;
    text-align: left;
}


.finalButton {
    background-color: transparent;
    border-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    width: 20%;
}

.mSg {
    width: 65%;
    background-color: rgb(54, 54, 54);
    color: white;
}

legend {
    color: white;
    font: small-caps bold 24px/1 sans-serif;
}

fieldset {
    border-radius: 13px;
    padding: 10px;
    margin: 10px auto;
    background-color: black;
    border-color: rgb(20, 75, 15);
    color: white;
}

i {
    text-align: left;
}

.button {
	padding: 5px;
	border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc
}

label {
    color: white;
    font: small-caps bold 15px/1 sans-serif;
}

.header {
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    text-align: left;
    background: hsl(0, 0%, 0%);
    border-color: white;
    font-size: 20px;
  }

p {
    font: small-caps bold 20px/1 sans-serif;
    padding-top: 5px;
}

iframe {
    width: 100%;
}

