body {
    text-align: center;
    background: linear-gradient(45deg, rgb(255, 34, 222), rgb(49, 255, 30));
}

#mainForm {
    padding-top: 20px;
    width: 600px;
    height: 100vh;
}

#StudentInfo {
    border-color: white;
    width: 500px;
    text-align: left;
}

#ScrumRole {
    border-color: red;
    width: 500px;
    text-align: left;
}

#MSG {
    border-color: green;
    width: 500px;
    text-align: left;
}

.finalButton {
    background-color: aqua;
    padding: 10px;
    border-radius:10px;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

legend {
    color: white;
}

fieldset {
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    background-color: black;
    color: whiite
}

i {
    text-align: left;
}

.button {
	padding: 5px;
	border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc
}

label {
    color: white;
}

.header {
    padding: 2px;
    border-radius: 30px;
    text-align: center;
    background: hsl(0, 0%, 0%);
    color: white;
    font-size: 20px;
  }

iframe {
    width: 100%;
}
